/*Colores*/
$base: #ffffff;
$main: #1d1d1d;
$accent: #3366CC;
$secondary: #004884;
$tertiary: #E6EFFD;

.card {
    &__header {
        padding: 1.25rem;
        background: $tertiary;
        &__row {
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
            color: $accent;
            div {
                max-width: 50%;
                font-weight: 700;
            }
        }
    }
    &__content {
        // padding: 1.25rem;
        background: $base;
        &__row {
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
            color: $main;
            div {
                max-width: 50%;
                font-weight: 400;
            }
        }
    }
}